body {
    /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
}

header {
    margin-bottom: 0;
}

.page {
    width: 100%;
    height: 85vh;
    background-color: #FFEFCB;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.picture {
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
}

.izzat {
    background-image: url(./me.jpeg);
    width: 200px;
    height: 250px;
    border-radius: 5%;
    margin: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

td {
    padding: 10px;
}

.logo-uitm {
    max-width: 200px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.skp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.section {
    padding: 20px;
}

/*.btn {
    border: 1px solid gray;
    background-color: aquamarine;
    width: 100px;
}

td {
    border: 1px black solid;
} */

.row {
    width: 100%;
}

.result-img {
    width: 150px;
}

.info {
    width: 750px;
}

.statement-info {
    width: 200px;
}

/* .empty-space {
    width: 100px;
}

.table-3-1 {
    width: 200px;
}

.table-3-3 {
    width: 170px;
} */

.sila {
    margin-bottom: 5px;
}

.separuh {
    width: 200px;
}

/*.info-button {
    display: flex;
     flex-direction: column; 
    gap: 50px;
    justify-content: space-around;
}*/

.uitm {
    width: 80px;
}

.logo-uitm-saja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
}

.student-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

h6 {
    align-items: start;
    justify-content: start;
}

.signature {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-bottom: 30px;
}

.akui {
    margin-top: 20px;
    margin-bottom: 100px;
}

.disokong {
    margin-bottom: 100px;
}

.sign-date {
    padding-left: 270px;
}


.sign {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info-pelajar {
    width: 750px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stud-info {
    width: 750px;
}

.info {
    margin-bottom: 100px;
}

.info-button {
    margin-bottom: 100px;
}

.blank {
    display: inline;
}

p {
    display: inline;
    margin-bottom: 0px;
}